.filter{
    .btns{
        border-radius: 10px;
        height: 60px;
        button{
            color: #fff;
            font-weight: 500;
            img{
                width: 20px;
                margin-right: 10px;
            }
            &.active{
                background: #fff;
                color: var(--clr-red);
                padding: 8px 15px;
                border-radius: 8px;
            }
        }
    }
}